<div class="show">
<p class="title"><span>Title:</span><%= @book.title %></p>
<p class="body"><span>Body:</span><%= @book.body %></p>
</div>

<%= link_to "Edit", edit_home_path(@book.id) %>
<span>|</span>
<%= link_to "Back", homes_path %>
