/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 33px;
	font-family: verdana, arial, helvetica, sans-serif;
}
th{
	padding-bottom: 5px;
}
td{
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 5px;
}
a{
	color: #000;
}
a:visited{
	color: #666;
}
.show{
	margin: 40px;
}
.title{
	padding-bottom: 20px;
}
.edit{
	padding-bottom: 10px;
}
.text_field{
	padding-bottom: 10px;
}
.submit{
	margin: 10px 0;
}
.showback{
	font-size: 14px;
}
.new-book{
	margin: 10px 0;
}
.top-content{
	line-height: 50px;
	margin-bottom: 25px;
}
.top-box{
	margin-left: 40px;
}
.flash{
	color:green;
}
